/* CHARACTER CARD */
.characters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}
.character-card {
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cc-portrait-container {
  position: relative;
  overflow: hidden;
  border-radius: 5rem 0;
}
.cc-portrait {
  transition: scale 0.2s ease-in-out;
}
.character-card:hover > .cc-portrait-container > .cc-portrait {
  scale: 1.1;
}
.cc-attribute {
  position: absolute;
  width: 25%;
  bottom: 1%;
  left: 1%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 999rem;
}
.cc-name {
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  text-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cc-r1 {
  background-image: linear-gradient(to top, var(--clr-rarity-1), rgba(0, 0, 0, 0));
}
.cc-r2 {
  background-image: linear-gradient(to top, var(--clr-rarity-2), rgba(0, 0, 0, 0));
}
.cc-r3 {
  background-image: linear-gradient(to top, var(--clr-rarity-3), rgba(0, 0, 0, 0));
}
.cc-r4 {
  background-image: linear-gradient(to top, var(--clr-rarity-4), rgba(0, 0, 0, 0));
}
.cc-r5 {
  background-image: linear-gradient(to top, var(--clr-rarity-5), rgba(0, 0, 0, 0));
}
/* RESONATOR PROFILE */
.hl-aero {
  color: var(--clr-aero);
}
.hl-electro {
  color: var(--clr-electro);
}
.hl-fusion {
  color: var(--clr-fusion);
}
.hl-glacio {
  color: var(--clr-glacio);
}
.hl-havoc {
  color: var(--clr-havoc);
}
.hl-spectro {
  color: var(--clr-spectro);
}
/* PROFILE DATA */
.resoTitle {
  color: var(--clr-heading);
}
.profile-container {
  position: relative;
  display: flex;
  border: var(--glassBorder);
}
.profile-portrait {
  position: relative;
  max-width: 20rem;
  align-self: flex-start;
}
.pp-attribute {
  position: absolute;
  width: 20%;
  right: 5%;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 999rem;
}
.profile-data {
  padding: 4rem 2rem;
}
.pd-table {
  text-align: left;
}
.pd-table th {
  vertical-align: top;
  padding-right: 1rem;
}
/* SKILLS */
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.skill-container:nth-child(1),
.skill-container:nth-child(2) {
  grid-column: span 2;
}
.sc-head {
  padding: 1rem;
}
.sc-body {
  padding: 1rem 2rem;
}
.sc-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: var(--glassBorder);
  background: linear-gradient(to right, rgb(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0) 50%);
}
.sch-skillIcon-container {
  height: 6rem;
  width: 6rem;
}
.sc-head h3 {
  font-size: 1.2rem;
  color: var(--clr-heading);
  line-height: 1;
}
.sc-head h4 {
  font-size: 2rem;
}
.sc-body {
  white-space: pre-wrap;
  line-height: 2.5rem;
}
.sc-body > div {
  margin-bottom: 1rem;
}
.scb-desc {
  margin-bottom: 1rem;
}
.sc-body h5 {
  color: var(--clr-heading);
  font-size: 1.6rem;
}
.resonanceChain-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
/**/
/* TIER LIST PAGE */
.tierlist-container {
  display: flex;
  gap: 2rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.tl-table {
  flex-grow: 1;
}
.tlt-row {
  display: flex;
  min-height: 11rem;
  background: #111;
}
.tlt-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  flex-shrink: 0;
  padding: 1rem;
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}
.tlt-Z {
  background: #73dfe7;
}
.tlt-S {
  background: #d93939;
}
.tlt-A {
  background: #d97939;
}
.tlt-B {
  background: #d9d639;
}
.tlt-C {
  background: #39d93c;
}
.tlt-D {
  background: #757575;
}
.tlt-data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}
.tl-char {
  position: relative;
  background-color: var(--clr-cardBg);
  border-radius: 1rem;
  overflow: hidden;
  height: fit-content;
  cursor: grab;
}
.tl-char img {
  pointer-events: none;
}
.tlc-attribute {
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 999rem;
}
.tl-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 25rem;
  padding: 2rem;
}
.tl-sidebar h3 {
  margin-bottom: 1rem;
}
.tls-buttons button {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 999rem;
  background: none;
  border: 2px solid var(--clr-text);
  color: inherit;
  opacity: 0.6;
  transition: all 0.1s ease-in;
}
.tls-buttons {
  width: 100%;
}
.tls-buttons button:not(:last-child) {
  margin-bottom: 1rem;
}
.tl-sidebar button:hover {
  opacity: 1;
}
.btn-danger:hover {
  border-color: red;
  color: red;
}
.tlt-bank {
  margin-top: 2rem;
  border-radius: 1rem;
}
/**/
/* MAP PAGE */
#map {
  border: var(--glassBorder);
  height: 80vh;
  overflow: hidden;
}
.leaflet-container {
  height: 100%;
  background-color: rgba(0, 15, 26, 0.6);
  font-family: inherit;
}
.location-label div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  white-space: nowrap;
  text-shadow:
    0 0 3px black,
    0 0 8px black;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  background: rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(255, 255, 255, 0.4);
  color: white;
}
.leaflet-touch .leaflet-bar a {
  background: none;
  color: white;
  border: none;
}
.leaflet-touch .leaflet-bar a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.leaflet-control-layers-overlays {
  font-size: 2rem;
}
.leaflet-control-layers-expanded {
  padding: 0.5rem 0;
}
.leaflet-control-layers-overlays label {
  padding: 0 1rem;
}
.leaflet-control-layers-overlays label,
.leaflet-control-layers-overlays label * {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.leaflet-control-layers-overlays label:not(:last-child) {
  margin-bottom: 1rem;
}
.leaflet-control-layers-overlays label:hover {
  background: linear-gradient(to right, rgb(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0) 90%);
}
.leaflet-control-layers-overlays label span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/**/
/* GLASS */
.glass {
  background-color: rgba(28, 29, 33, 0.6);
  border: var(--glassBorder);
}
/* DIVIDER */
.section-divider {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sd-line {
  position: relative;
  border-bottom: 2px solid var(--clr-heading);
  flex-grow: 1;
}
.sd-line-decor {
  position: absolute;
  right: 1rem;
  top: -1.75rem;
  width: 5rem;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1280px) {
  .tierlist-container {
    flex-direction: column-reverse;
  }
  .tl-sidebar {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
  .tls-info {
    flex-grow: 1;
  }
  .tls-buttons {
    width: 21rem;
  }
  .tl-sidebar button {
    height: auto;
  }
  .profile-container {
    width: 100%;
  }
}
@media only screen and (max-width: 568px) {
  .tl-sidebar {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .tls-info,
  .tls-buttons {
    width: 100%;
  }
  .profile-container {
    flex-direction: column;
  }
  .profile-portrait {
    margin: 0 auto;
  }
  .skill-container {
    grid-column: span 2;
  }
  .sc-head {
    text-align: center;
    flex-direction: column;
  }
  .resonanceChain-container {
    grid-template-columns: 1fr;
  }
  #map {
    height: 70dvh;
  }
}
@media only screen and (max-width: 354px) {
  .pd-table tr {
    display: flex;
    flex-direction: column;
  }
}
