:root {
  --clr-text: rgba(233, 233, 234, 1);
  --clr-cardBg: rgba(34, 34, 34, 1);
  --clr-cardLabelBg: rgba(37, 33, 34, 1);
  --glassBorder: 1px solid #33343a;
  /* RARITIES */
  --clr-rarity-1: rgba(239, 236, 225, 1);
  --clr-rarity-1-hl: rgba(199, 199, 199, 1);
  --clr-rarity-2: rgba(92, 195, 94, 1);
  --clr-rarity-2-hl: rgba(156, 243, 177, 1);
  --clr-rarity-3: rgba(89, 180, 211, 1);
  --clr-rarity-3-hl: rgba(169, 238, 255, 1);
  --clr-rarity-4: rgba(202, 109, 255, 1);
  --clr-rarity-4-hl: rgba(239, 182, 247, 1);
  --clr-rarity-5: rgba(255, 230, 90, 1);
  --clr-rarity-5-hl: rgba(255, 255, 255, 1);
  /* ELEMENTS */
  --clr-aero: rgba(85, 255, 181, 1);
  --clr-electro: rgba(180, 91, 255, 1);
  --clr-fusion: rgba(239, 115, 78, 1);
  --clr-glacio: rgba(65, 174, 251, 1);
  --clr-havoc: rgba(230, 73, 166, 1);
  --clr-spectro: rgba(248, 229, 108, 1);
  /* UI TEXT */
  --clr-heading: rgba(170, 155, 106, 1);
  --clr-generic-hl: rgba(255, 209, 47, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CORE */
html {
  font-size: 62.5%;
}
body {
  color: var(--clr-text);
  font-size: 1.6rem;
  font-family: "LaguSans";
  background-color: rgba(31, 38, 48, 1);
  background-image: url("./assets/newsbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}
nav {
  position: fixed;
  height: 100dvh;
  width: 24rem;
  padding: 2rem;
  background: rgba(28, 29, 33, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-right: var(--glassBorder);
  left: 0;
  top: 0;
  z-index: 2000;
}
.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.nav-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
.nav-content li {
  transition: all 0.1s ease-out;
}
.nav-content li:hover {
  scale: 1.08;
  color: #ece1b5;
}
.nav-content li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: nowrap;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  font-size: 2rem;
}
.nav-content li svg {
  width: 5rem;
  height: 5rem;
}
main {
  padding: 5rem 10rem 5rem 29rem;
}
section:not(.leaflet-control-layers-list) {
  margin-bottom: 2rem;
}
/**/
/* META */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  margin-bottom: 4rem;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
img {
  display: block;
  max-width: 100%;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
button,
a {
  cursor: pointer;
}
button {
  font-weight: 700;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: none;
}
ul {
  list-style-type: none;
}
section ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
table {
  border-collapse: collapse;
}
/**/
/* CUSTOM CLASSES */
.activeLink {
  font-weight: 700;
}
.linkDecorate {
  text-decoration: underline;
}
/**/

@media only screen and (max-width: 968px) {
  nav {
    width: 100%;
    height: 7rem;
    right: 0;
    border-bottom: var(--glassBorder);
    border-right: none;
    padding: 1rem;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .nav-logo-container {
    height: 100%;
    margin-bottom: 0;
  }
  .nav-logo-container img {
    max-height: 6rem;
  }
  .nav-content ul {
    flex-direction: row;
    gap: 2rem;
  }
  .nav-content li a {
    flex-direction: row;
    justify-content: unset;
    width: auto;
    height: auto;
    gap: 0.5rem;
  }
  .nav-content li a span {
    display: none;
  }
  .nav-content li svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  main {
    padding: 10rem 2rem;
  }
}
